<h2>
  List of products
</h2>

<!--button class="btn btn-info" [routerLink] = "['/usersfire']">Fire Base</button-->
 <div class="container">
  <table class="table table-hover text-left">
    <tr>
      <th class="col-sm-3">ID</th>
      <th class="col-sm-3"> Name</th>
      <th class="col-sm-3">Price</th>
      <th class="col-sm-3"></th>
      



      
    </tr>
    <tr *ngFor = "let key of usersKeys">
      <td class="col-sm-3">{{key}}</td>
      <td class="col-sm-3">{{users[key].name}}</td>
      <td class="col-sm-3">{{users[key].price}}</td>
      <td><button class="btn btn-primary" (click)="editUser(key)">Edit</button></td>
   

     



    </tr>
    </table>
  </div>

  