<!--h1>navigation works</h1-->
<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "">products</a></li>
        <!--li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "products">products</a></li-->
        <li routerLinkActive= "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink="/login">Login</a></li>
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink="fusers">products from firebase</a></li>        
      </ul>
      
    </div>
  </div>
</nav>